---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets"

const {data} = Astro.props

// https://docs.astro.build/en/guides/images/
// https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/{codes,writings,designs}/*.{jpeg,jpg,png,gif}')

---

<a href={data.url} target="_blank" class="h-full w-full grid pb-2 border-b-2 border-secondary hover:underline hover:lg:-translate-y-3 focus:scale-105 transition">
  <Image src={images[data.img]()} alt={data.title} class="h-36 w-full object-cover rounded-lg" />
  <!-- <img src={data.img} alt={data.title} class="h-36 w-full object-cover rounded-lg"> -->
  <div class="mt-2 mb-3">
    <h3 class="text-lg font-bold">{data.title}</h3>
    <p class="text-xs">{data.desc}</p>
  </div>
  <span class="place-self-end border-2 border-primary text-primary font-bold px-2 rounded">{data.tag}</span>
</a>