---
const {data} = Astro.props
---

<a href={data.url} target="_blank" class="h-full grid pb-2 border-b-2 border-secondary hover:underline">
  <img src={data.img} alt={data.title} class="h-36 w-full object-cover">
  <div class="mt-2 mb-3">
    <h3 class="text-lg font-bold">{data.title}</h3>
    <p class="text-xs">{data.desc}</p>
  </div>
  <div class="place-self-end flex gap-2">
  {data.tag.map((t) => (
    <span class="bg-primary text-white font-bold px-2">{t}</span>
  ))}
  </div>
</a>